apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    service:
      spec:
        loadBalancerIP: 192.168.4.201
    ports:
      websecure:
        tls:
          enabled: true
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
