- name: Set up cert-manager
  hosts: master
  gather_facts: false

  environment:
    K8S_AUTH_KUBECONFIG: /etc/rancher/k3s/k3s.yaml

  vars_files:
    - ../config.yaml

  tasks:

    - name: Add cert-manager chart repository
      kubernetes.core.helm_repository:
        name: jetstack
        repo_url: https://charts.jetstack.io

    - name: Install cert-manager
      kubernetes.core.helm:
        name: cert-manager
        chart_ref: jetstack/cert-manager
        chart_version: "{{ cert_manager_version }}"
        release_namespace: cert-manager
        create_namespace: true
        update_repo_cache: true
        wait: true
        values:
          installCRDs: true
          prometheus:
            enabled: true
          cainjector:
            enabled: true
          webhook:
            replicaCount: 1

    - name: Create a secret with CloudFlare Token
      kubernetes.core.k8s:
        wait: true
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: cloudflare-api-token
            namespace: cert-manager
          type: Opaque
          stringData:
            api-token: "{{ lookup('community.general.onepassword', 'picakelab.net cloudflare API token', field='credential') }}"

    - name: Create cluster issuer
      kubernetes.core.k8s:
        wait: true
        resource_definition: "{{ lookup('file', 'manifests/cluster-issuer.yaml') | from_yaml }}"

    - name: Configure traefik
      kubernetes.core.k8s:
        wait: true
        resource_definition: "{{ lookup('file', 'manifests/traefik-config.yaml') | from_yaml }}"
